*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #775400;
}
body{
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.board{
    width: min(500px, 100vw);
    height: min(500px, 100vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 3px 5px;
}
.board > button{
    border: none;
    background-color: white;
    border-right: 5px solid aliceblue;
    border-bottom: 5px solid aliceblue;
    font-size: 55px;
}
.board > button:nth-child(3n){
    border-right: none;
}
.board > button:nth-last-child(-n+3){
    border-bottom: none;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.new-game-btn{
    border: none;
    width: min(500px, 100vw);
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: block;
    border: 0px;
    background-color: #FF512F;
    cursor: pointer;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 3px 5px;

}
.new-game-btn:hover{
    background-color: #ff0000;
}
.new-game-btn:active, .new-game-btn:focus{
    background-color: #ffffff;
    color: #FF512F;
    outline: 2px solid #FF512F;
}
.settings{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 3px 5px;
}
.settings .settings{
    flex-direction: row;
    align-items: center;
    box-shadow: none;
    padding: 0px;
}
.settings select{
    border: none;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(248, 252, 255);
    padding: 10px;
    border-radius: 10px;
}
.info{
    height: 45px;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 3px 5px;
}
