*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.board{
    width: min(500px, 100vw);
    height: min(500px, 100vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.board > button{
    border: none;
    background-color: white;
    border-right: 3px solid aliceblue;
    border-bottom: 3px solid aliceblue;
    font-size: 45px;
}
.board > button:nth-child(3n){
    border-right: none;
}
.board > button:nth-last-child(-n+3){
    border-bottom: none;
}
.new-game{
    border: none;
    width: min(500px, 100vw);
    background-image: linear-gradient(#42A1EC, #0070C9);
    margin-bottom: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: block;
    border: 0px;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
}