*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #775400;
}
body{
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.board{
    width: min(500px, 100vw);
    height: min(500px, 100vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.board > button{
    border: none;
    background-color: white;
    border-right: 5px solid aliceblue;
    border-bottom: 5px solid aliceblue;
    font-size: 55px;
}
.board > button:nth-child(3n){
    border-right: none;
}
.board > button:nth-last-child(-n+3){
    border-bottom: none;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.new-game-btn{
    border: none;
    width: min(500px, 100vw);
    background-image: linear-gradient(#42A1EC, #0070C9);
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: block;
    border: 0px;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
}
.settings{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px 10px 20px;
    background-color: white;
}
.mark-setting{
    display: flex;
}
.mark-setting > button{
    height: 45px;
    width: 45px;
    background-color: rgb(248, 248, 248);
    border: none;
    font-size: 25px;
}
.mark-setting > button.chosen{
    border: 2px solid rgb(0, 187, 255);
}
.info{
    height: 45px;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
}